body{text-align: center;}
input{height: calc(15px + 15px);font-size: 20px;border-radius: 8px;border: 2px solid green;}
input:focus {border: 2px solid red;color: green;}
button {height: calc(15px + 15px);font-size: 20px;border-radius: 8px;border: 2px solid green;}
button:focus {border: 2px solid red;color: green;}